

css
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

header{
background:black;
padding:20px;
position:sticky;
top:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#00bfff;
}

button{
padding:12px 20px;
border:none;
background:#00bfff;
color:white;
cursor:pointer;
margin-top:20px;
border-radius:5px;
}

section{
padding:80px;
}

.skills-container,
.project-container{
display:flex;
flex-wrap:wrap;
gap:20px;
}

.skill-card,
.project-card{
background:#222;
padding:20px;
border-radius:10px;
width:200px;
transition:0.4s;
}

.skill-card:hover,
.project-card:hover{
transform:scale(1.1);
}

form{
display:flex;
flex-direction:column;
width:300px;
gap:15px;
}

input,textarea{
padding:10px;
}

footer{
text-align:center;
padding:20px;
background:black;
}

